pkgbase = zedg
	pkgdesc = Zed editor with globalization support (pre-built binary)
	pkgver = 1.14.2
	pkgrel = 1
	url = https://github.com/WenYin-Community/zed-globalization
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	license = Apache-2.0
	license = GPL-3.0-or-later
	provides = zedg
	conflicts = zedg
	options = !debug
	source_x86_64 = https://github.com/WenYin-Community/zed-globalization/releases/download/v1.14.2/zedg-zh-cn-linux-x86_64-v1.14.2.tar.gz
	sha256sums_x86_64 = 264916e84300464b2bda8d5dbf587679d92159035e181148d04a13cdf8ae84b7
	source_aarch64 = https://github.com/WenYin-Community/zed-globalization/releases/download/v1.14.2/zedg-zh-cn-linux-aarch64-v1.14.2.tar.gz
	sha256sums_aarch64 = 64378a71aa79c24d13dbd9234f0834097dab3eaabea9d1f62693574fd681a953

pkgname = zedg
