pkgbase = zedg
	pkgdesc = Zed editor with globalization support (pre-built binary)
	pkgver = 1.13.2
	pkgrel = 1
	url = https://github.com/WenYin-Community/zed-globalization
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	license = Apache-2.0
	license = GPL-3.0-or-later
	provides = zedg
	conflicts = zedg
	options = !debug
	source_x86_64 = https://github.com/WenYin-Community/zed-globalization/releases/download/v1.13.2/zedg-zh-cn-linux-x86_64-v1.13.2.tar.gz
	sha256sums_x86_64 = ae57a82b11e963de4e3c7b80c0bd346e33728758274bff3dbb81cec66bfa3caf
	source_aarch64 = https://github.com/WenYin-Community/zed-globalization/releases/download/v1.13.2/zedg-zh-cn-linux-aarch64-v1.13.2.tar.gz
	sha256sums_aarch64 = 149d99ac4faa2b2ab1a6d7f0887de9de6109d4c38d744a3e3b0ab9eb127f0fc3

pkgname = zedg
